<table>
  <tr>
    <td align="{{ align }}">
      <table cellpadding="0" cellspacing="0">
        <tr>
          <td style='text-align: center' class='back-sample-count-{{this.upload_stats.status}}' colspan="2">
            <b> {{ this.name }} - {{>sample_counter this.upload_stats}}</b>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            {{>genres this.genres}}
          </td>
        </tr>
        <tr>
            <td style='text-align: center' colspan="2">
              <b>Avarage BPM {{this.bpm.mean}}</b>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
