.body {
    background-color: #243B4A;
}

.main {
    background-color: #ECEBF3;
}

.parts_report {
    margin-top: 30px;
    border: solid thin black;
}

.genres {
    padding: 2px;
    color: black;
    background-color: #ECEBF3;
}

.genre-name {
    text-align: left;
    width: 100%;
}

.bpm {
    background-color: #656565;
    color: white;
}

.bpm-cell {
    width: 400px;
}

.sample-genre {
    padding: 5px;

}
.back-sample-count-ok {
    background-color: #6B8E23;
    padding: 5px;
    color: white;
}

.back-sample-count-warn {
    background-color: #DAA520;
    padding: 5px;
    color: white;
    }

.back-sample-count-crit {
    background-color: #8B0000;
    font-weight: bold;
    padding: 5px;
        color: white;
}


.sample-count-ok {
    color: #6B8E23;
    padding: 5px;
}

.sample-count-warn {
    color: #DAA520;
    padding: 5px;
}

.sample-count-crit {
    color: #8B0000;
    font-weight: bold;
    padding: 5px;
}

.short-date {
    width: 60px;
    padding: 5px;
}

.sample-text {
    text-align: center;
}

.day {
    padding-top: 10px;
    padding-bottom: 0;
}

.headline {
    color: white;
    text-align: center;
}
